<nav class="pv3 ph3 ph4-ns bg-black white" role="navigation">
  <div class="flex-l center items-center justify-between">
    <a href="{{ .Site.Home.RelPermalink }}" class="f3 fw2 hover-white white-90 dib no-underline">
      {{ with .Site.Params.site_logo }}
        <img src="{{ . | relURL }}" class="w100 mw5-ns" alt="{{ $.Site.Title }}" />
      {{ else }}
        {{ .Site.Title }}
      {{ end }}
    </a>
    {{ if .Site.Menus.main }}
      <ul class="list flex-l ma0 pa0">
        {{ range .Site.Menus.main }}
          <li class="list f5 f4-ns fw4 dib mr3">
            <a class="hover-white white-90 no-underline" href="{{ .URL }}">{{ .Name }}</a>
          </li>
        {{ end }}
      </ul>
    {{ end }}
  </div>
</nav>
